# 读取数据

In [1]:
import pandas as pd

In [4]:
data1=pd.read_csv("dataset.csv")

In [5]:
data1

        WindNumber              Time  WindSpeed        Power  RotorSpeed
0                1    2017/11/1 0:20   4.188333    65.750000    5.779167
1                1    2017/11/1 0:30   4.042500   120.700000    8.636500
2                1    2017/11/1 0:40   4.137368   135.157895    8.668421
3                1    2017/11/1 0:50   4.274737   157.315789    8.727895
4                1    2017/11/1 1:00   4.108947   129.894737    8.656842
...            ...               ...        ...          ...         ...
497832          12  2019/12/31 23:00   7.054167  1097.633333   14.650750
497833          12  2019/12/31 23:10   7.401833  1093.031667   14.823250
497834          12  2019/12/31 23:20   7.754333  1217.640000   15.036750
497835          12  2019/12/31 23:30   7.366667  1115.886667   14.817500
497836          12  2019/12/31 23:40   7.001167  1026.956667   14.633000

[497837 rows x 5 columns]

# 评估数据及清洗数据
### 1.内容评估及清洗
### 2.结构评估及清洗

In [7]:
data1.sample(10)

        WindNumber              Time  WindSpeed        Power  RotorSpeed
309308           8    2018/1/9 20:10  11.683500  2048.450000   15.275000
399219          10     2019/5/6 0:10   7.463000   731.500000   13.035000
467036          12   2019/5/12 21:20   6.967667  1044.478333   13.464250
81608            3  2017/11/20 22:00   7.973000   185.800000   11.832000
150668           4   2019/7/16 13:30   3.620000    14.300000    3.482458
131221           4   2019/1/30 14:40   4.126000    91.300000    8.649958
348561           9     2018/1/2 8:10   2.720000   -29.571429    0.130000
463510          12    2019/4/18 3:30   4.642500   217.370000    8.588833
388578          10    2019/1/12 8:30   3.770000   116.950000    8.646398
142748           4   2019/4/28 14:00   5.367368   232.105263    9.160883

数据无结构问题，不需要进行结构清洗

In [8]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497837 entries, 0 to 497836
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   WindNumber  497837 non-null  int64
 1   Time        497837 non-null  object
 2   WindSpeed   497837 non-null  float64
 3   Power       497837 non-null  float64
 4   RotorSpeed  497837 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 19.0+ MB

数据中无空缺值，无需填补,时间的类型为字符串，需要转换成日期时间类型。

In [25]:
data1["Time"]=pd.to_datetime(data1["Time"])

In [26]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110740 entries, 0 to 488942
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   WindNumber  110740 non-null  int64
 1   Time        110740 non-null  datetime64[ns]
 2   WindSpeed   110740 non-null  float64
 3   Power       110740 non-null  float64
 4   RotorSpeed  110740 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 10.1 MB

In [27]:
data1.drop_duplicates(subset=["Time"],inplace=True)
data1

        WindNumber                Time  WindSpeed       Power  RotorSpeed
0                1 2017-11-01 00:20:00   4.188333   65.750000    5.779167
1                1 2017-11-01 00:30:00   4.042500  120.700000    8.636500
2                1 2017-11-01 00:40:00   4.137368  135.157895    8.668421
3                1 2017-11-01 00:50:00   4.274737  157.315789    8.727895
4                1 2017-11-01 01:00:00   4.108947  129.894737    8.656842
...            ...                 ...        ...         ...         ...
488938          12 2019-10-21 15:10:00   1.263559    0.000000    0.008093
488939          12 2019-10-21 15:20:00   1.098627    0.000000    0.010843
488940          12 2019-10-21 15:30:00   1.489167    0.000000    0.015521
488941          12 2019-10-21 15:40:00   1.885448    0.000000    0.025854
488942          12 2019-10-21 15:50:00   1.198621    0.000000    0.009724

[110740 rows x 5 columns]

#### 删除数据中时间相同的重复数据

In [28]:
data1.describe()

          WindNumber      WindSpeed          Power     RotorSpeed
count  110740.000000  110740.000000  110740.000000  110740.000000
mean        3.009735       5.281228     351.923171       7.154413
std         1.700844       2.915436     506.709374       5.413826
min         1.000000     -12.505000    -109.488333      -0.584576
25%         1.000000       3.230000      -9.000000       0.110000
50%         4.000000       4.833246     139.184167       8.669099
75%         4.000000       6.984000     493.750000      11.209478
max        12.000000      26.541818    2174.400000      35.000000

风速和转速为负值表示方向相反，功率power不能为负值，故下面找出并删除掉错误数据。

In [29]:
data1[data1["Power"]<0]

        WindNumber                Time  WindSpeed      Power  RotorSpeed
13               1 2017-11-01 02:30:00   3.813750 -14.500000    0.092500
14               1 2017-11-01 02:40:00   2.500000 -10.500000    0.120000
15               1 2017-11-01 03:00:00   2.760000  -9.500000    0.080000
19               1 2017-11-01 03:50:00   2.566667  -9.500000    0.073333
20               1 2017-11-01 04:00:00   2.482000  -9.400000    0.066000
...            ...                 ...        ...        ...         ...
428449          11 2019-05-28 00:20:00   1.896387  -0.243697    3.499832
428450          11 2019-05-28 00:30:00   2.334068  -1.042373    2.843475
428462          11 2019-05-28 02:30:00   1.774706  -0.226891    0.369664
439169          11 2019-09-17 07:20:00   1.797227  -0.554622    4.114118
445728          11 2019-11-23 08:10:00   1.893109  -0.512605    1.364118

[32857 rows x 5 columns]

In [31]:
data1=data1[data1["Power"]>=0]
data1[data1["Power"]<0]

Empty DataFrame
Columns: [WindNumber, Time, WindSpeed, Power, RotorSpeed]
Index: []

无法根据条件删除行，可以筛选符合条件的行并赋值到新的data1

## 保存清理后的数据

In [33]:
data1.to_csv("dataset_clean.csv",index=False)